RewriteEngine On

RewriteRule  ^select-user$     select-user.php   [NC,L]
RewriteRule  ^customer-registration$     customer-registration.php   [NC,L]
RewriteRule  ^customer-login$     customer-login.php   [NC,L]
RewriteRule  ^customer-forget-password$     customer-forget-password.php   [NC,L]
RewriteRule  ^customer-dashboard$     customer-dashboard.php   [NC,L]
RewriteRule  ^customer-wishlist$     customer-wishlist.php   [NC,L]
RewriteRule  ^customer-logout$     customer-logout.php   [NC,L]
RewriteRule  ^customer-edit-profile$     customer-edit-profile.php   [NC,L]
RewriteRule  ^customer-messages$     customer-messages.php   [NC,L]
RewriteRule  ^customer-message-create$     customer-message-create.php   [NC,L]


RewriteRule  ^pricing$     pricing.php   [NC,L]
RewriteRule  ^locations$     locations.php   [NC,L]

RewriteRule  ^agent-registration$     agent-registration.php   [NC,L]
RewriteRule  ^agent-login$     agent-login.php   [NC,L]
RewriteRule  ^agent-forget-password$     agent-forget-password.php   [NC,L]
RewriteRule  ^agent-dashboard$     agent-dashboard.php   [NC,L]
RewriteRule  ^agent-logout$     agent-logout.php   [NC,L]
RewriteRule  ^agent-edit-profile$     agent-edit-profile.php   [NC,L]
RewriteRule  ^agent-payment$     agent-payment.php   [NC,L]
RewriteRule  ^agent-orders$     agent-orders.php   [NC,L]
RewriteRule  ^agent-property-add$     agent-property-add.php   [NC,L]
RewriteRule  ^agent-properties$     agent-properties.php   [NC,L]
RewriteRule  ^agent-photo-gallery$     agent-photo-gallery.php   [NC,L]
RewriteRule  ^agent-video-gallery$     agent-video-gallery.php   [NC,L]
RewriteRule  ^agent-property-edit/(.*)$/?$     agent-property-edit.php?id=$1   [NC,L]
RewriteRule  ^agent-property-delete/(.*)$/?$     agent-property-delete.php?id=$1   [NC,L]
RewriteRule  ^agent-photo-gallery/(.*)$/?$     agent-photo-gallery.php?id=$1   [NC,L]
RewriteRule  ^agent-video-gallery/(.*)$/?$     agent-video-gallery.php?id=$1   [NC,L]

RewriteRule  ^location/(.*)$/?$     location.php?slug=$1   [NC,L]
RewriteRule  ^locations/(.*)$/?$     locations.php?slug=$1   [NC,L]

RewriteRule  ^agents$     agents.php   [NC,L]
RewriteRule  ^agents/(.*)$/?$     agents.php?slug=$1   [NC,L]

RewriteRule  ^agent/(.*)$/?$     agent.php?id=$1   [NC,L]

RewriteRule ^property/([0-9]+)/([^/]+)$ property.php?id=$1&slug=$2 [QSA,L]

RewriteRule  ^customer-wishlist-add/(.*)$/?$     customer-wishlist-add.php?id=$1   [NC,L]
RewriteRule  ^customer-wishlist-delete/(.*)$/?$     customer-wishlist-delete.php?id=$1   [NC,L]

RewriteRule  ^customer-message/(.*)$/?$     customer-message.php?id=$1   [NC,L]