RewriteEngine On

RewriteRule  ^select-user$     select-user.php   [NC,L]
RewriteRule  ^customer-registration$     customer-registration.php   [NC,L]
RewriteRule  ^customer-login$     customer-login.php   [NC,L]
RewriteRule  ^customer-forget-password$     customer-forget-password.php   [NC,L]
RewriteRule  ^customer-dashboard$     customer-dashboard.php   [NC,L]
RewriteRule  ^customer-logout$     customer-logout.php   [NC,L]
RewriteRule  ^customer-edit-profile$     customer-edit-profile.php   [NC,L]

RewriteRule  ^agent-registration$     agent-registration.php   [NC,L]
RewriteRule  ^agent-login$     agent-login.php   [NC,L]
RewriteRule  ^agent-forget-password$     agent-forget-password.php   [NC,L]
RewriteRule  ^agent-dashboard$     agent-dashboard.php   [NC,L]
RewriteRule  ^agent-logout$     agent-logout.php   [NC,L]
RewriteRule  ^agent-edit-profile$     agent-edit-profile.php   [NC,L]